/Users/gregorydziedzic/google_drive/DEV/DU_Fullstack/temps_reel_feathers/fs-feathers-items/frontend/node_modules
/Users/gregorydziedzic/google_drive/DEV/DU_Fullstack/temps_reel_feathers/fs-feathers-items/backend/node_modules 
.DS_Store
